:root {
  --background: #111;
  --shadow: #000a;
  --text: #fff;
  --input: #333;
  --dark-input: #2f2f2f;
  --bar: #222;
  --dark-bar: #161616;
  --accent: #7d0;
  --dark-accent: #343;
  --negative: #b03;
  --dark-negative: #a02;
  --background-negative: #211;
}

body {
  background: var(--background);
  overflow: hidden;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
}

input,
button {
  background: var(--input);
  border-color: #0000;
  padding: 5px;
  border-color: var(--text);
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  outline: none;
  transition: 0.5s;
  filter: drop-shadow(0 0 10px var(--shadow));
}

button:hover {
  background: var(--dark-input) !important;
}

input:hover {
  background: var(--dark-input) !important;
}

button:active {
  background: var(--dark-accent) !important;
  transition: 0.1s !important;
}

input:focus {
  background: var(--dark-accent) !important;
  transition: 1s !important;
}

button.negative {
  border: none;
  padding: 6px;
  filter: drop-shadow(0 0 10px var(--background-negative));
  background: var(--negative);
}

button.negative:hover {
  background: var(--dark-negative) !important;
}

div#login * {
  display: none;
  margin: 10px;
}

div#new_account * {
  display: none;
  margin: 10px;
}

p.negative {
  color: var(--negative);
  background: var(--background-negative);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

div.center {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

div.center * {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

div#groups_bar {
  background: var(--bar);
  padding: 10px;
  width: 100vw;
  height: 50px;
  box-shadow: 0 0 10px var(--shadow);
}

div#groups_bar button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-right: 5px;
}

button#new_group {
  border-color: var(--accent);
  background-color: var(--input);
  color: var(--accent);
}

button#settings {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--text);
  margin-right: 8px !important;
}

div#create_group * {
  display: none;
  margin: 10px;
}

div#input_bar {
  width: 100vw;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: var(--bar);
}

div#input_bar * {
  background: var(--dark-bar);
  border-radius: 20px;
  display: none;
}

input#input_bar_text {
  width: 300px;
  position: absolute;
  left: calc(50% - 200px);
}

button#input_bar_send {
  width: 50px;
  position: absolute;
  left: calc(50% + 125px);
}

button#input_bar_invite {
  position: absolute;
  width: 30px;
  left: 5px;
}

p.author {
  font-size: 10px;
  margin-bottom: 3px;
}
p.author::before {
  content: "• ";
  color: var(--accent);
}

p.message {
  width: calc(100vw - 20px);
  background: var(--dark-bar);
  padding: 10px;
  margin-top: 0px;
  word-wrap: break-word;
  border-style: inset solid;
  border-color: #0000;
  border-left-color: var(--accent);
  box-shadow: 0 0 10px var(--shadow);
}

div#messages {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  top: 80px;
}

div#invite * {
  display: none;
  margin: 10px;
}
